<h1>Rental Records</h1>

<p>Customer: <%= @customer.first_name %> <%= @customer.second_name %> </p>
<p>Car: <%= @car.manufacturer %> - <%= @car.model %> </p>
<hr>

<p> <a href="/rentals/<%= @rental.id %>/edit" class="button">Edit Rental</a> </p>

<form action="/rentals/<%= @rental.id %>/delete" method="POST">
  <input type="submit" class="button" name="delete" value="Delete Rental">
</form>
